.clear-fix {
	clear: both;
}

.panel-body .form-control {
	margin: .75em 0;
}

.server-list-group .input-group {
	margin: .5em 0;
}

.server-list-group .input-group input {
	width: 100%;
	padding: .25em 1em;
}

.server-list-group .input-group .input-group-addon {
	min-width: 140px;
}

.server-list-group .server-name {
	cursor: pointer;
	transition: all 0.1s ease;
}

.server-list-group .server-name:hover {
    padding: 3px 7px;
    background-color: #eee;
    border: 1px solid #777;
    border-radius: 10px;
}

.server-list-group .shortcut-buttons {
	position: absolute;
	right: 50px;
	top: 2.5px;
}

.panel {
	margin-bottom: 5px;
}