.blink-me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {  
  50% { opacity: 0; }
}

h4 {
	color: #5e5e5e;
}

table .cell-container {
	height: 6em; 
	overflow: hidden;
}

table .cell-container:hover {
	background: #E2E2E2;
	cursor: pointer;
}

table .cell-container.scrollable {
	background: #E2E2E2;
	overflow: scroll;
	cursor: text;
}

.clear-fix {
	clear: both;
}

.modal-overlay {
	position: fixed;
	background-color: rgba(0, 0, 0, .25);
	left: 0;
	right: 0;
	bottom: 0;
	top: 35px;
}
.modal-dialog {
	position: absolute;
	top: 100px;
	left: 100px;
	right: 100px;
	min-height: 100px;
	background-color: white;
	border-radius: 10px;
	padding: 1em 2em;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .33);
}
.nav-spacer {
	width: 100%;
	height: 36px;
}
.navbar {
	min-height: 20px;
	position: fixed;
	width: 100%;
    background: white;
    z-index: 10;
}
.navbar-nav > li > a {
	padding-top: 7px;
	padding-bottom: 7px;
}
.in-sync-notice {
	text-align: center;
    color: #dbdbdb;
}
.in-sync-notice img {
	border: 1px solid #dbdbdb;
	padding: .67em;
	margin-top: 10px;
	border-radius: 10px;
}
.panel-body .form-control {
	margin: .75em 0;
}
.server-list-group {
	margin-top: 20px;
}
.server-list-group .input-group {
	margin: .5em 0;
}
.server-list-group .input-group input {
	width: 100%;
	padding: .25em 1em;
}
.server-list-group .input-group .input-group-addon {
	min-width: 130px;
}
.server-list-group .server-name {
	cursor: pointer;
	transition: all 0.1s ease;
}
.server-list-group .server-name:hover {
    padding: 3px 7px;
    background-color: #eee;
    border: 1px solid #777;
    border-radius: 10px;
}
.server-list-group .shortcut-buttons {
	position: absolute;
	right: 50px;
	top: 2.5px;
}
.panel {
	margin-bottom: 5px;
}
.table-reference-column, .server-reference-column {
	background-image: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
	height: 100%;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}
.navbar {
	margin-bottom: 0;
}
.server-reference-column ul {
	padding-left: 0;
	padding-bottom: 5px;
	cursor: pointer;
}

.server-reference-column li {
	padding-left: 10px;
	list-style: none;
}
.database-tables, .server-list-left {
	list-style: none;
	overflow: scroll;
	padding-left: 0;
	white-space: nowrap;
}
.database-tables li, .server-list-left li {
	cursor: pointer;
	transition: all 0.2s ease;
	margin: 2px 0;
}
.database-tables li:hover, .database-tables li.selected, .server-list-left li:hover, .server-list-left li.selected {
	padding: 3px 7px;
    background-color: #eee;
    border: 1px solid #777;
    border-radius: 10px;
}
.table-reference-column .database-name {
	font-weight: bold;
	margin-bottom: 5px;
}
.server-link {
	position: relative;
}
.server-link.active:hover .quick-connect-button {
	display: none;
}
.server-link .quick-connect-button {
	position: absolute;
	right: 2px;
	top: 2px;
	display: none;
	padding: 0 5px;
	border-radius: 10px;
}
.server-link:hover .quick-connect-button {
	display: inline-block;
}
.server-link .status-icon {
	height: 15px;
	width: 15px;
	border: 2px solid #CCC;
	border-radius: 50%;
	margin-top: 3px;
}
.server-link.active .status-icon {
	height: 15px;
	width: 15px;
	border: 2px solid green;
    background-color: #0C0;
	border-radius: 50%;
}
.server-link.error .status-icon {
	height: 10px;
	width: 10px;
	border: 2px solid red;
	background-color: red;
	border-radius: 50%;
}
.server-avatars {
	background-color: #E2E2E2;
	padding: 2px;
}
.server-avatars .server-avatar {
	padding: 3px 7px;
    background-color: #eee;
    border: 1px solid #BBB;
    border-radius: 5px;
	display: inline-block;
}
.server-avatars .server-avatar .display-on-hover {
	display: none;
}
.server-avatars .server-avatar:hover .display-on-hover {
	display: inline-block;
	cursor: pointer;
	color: green;
}
.server-avatars .server-avatar .hide-on-hover {
	display: inline-block;
}
.server-avatars .server-avatar:hover .hide-on-hover {
	display: none;
}
.server-avatars .server-avatar .close-icon {
	display: none;
}
.server-avatars .server-avatar:hover .close-icon {
	display: inline;
	cursor: pointer;
	color: red;
}
.server-avatars .server-avatar:hover .server-status {
	display: none;
}
.server-avatars .server-status {
	height: 15px;
	width: 15px;
	border: 2px solid #CCC;
	border-radius: 50%;
	display: inline-block;
	margin-bottom: -2.5px;
}
.server-avatars .server-status.active {
	border-color: green;
	background-color: #0C0;
}
.server-avatars .server-status.error {
	border-color: red;
	background-color: #C00;
}
.server-avatars .server-status.pending {
	border-color: #d2b44f;
	background-color: yellow;
	/*
	border-color: green;
	background-color: #0C0;
	*/
	animation: blinker .2s linear infinite;
}
.active-server-notice {
	font-weight: bold;
	font-size: 12pt;
	color: black;
	padding-top: 3px;
	color: #555;
}
.active-server-notice .glyphicon {
	padding-top: 3px;
}
.dialog-buttons button {
	margin: 0 .67em;
}
.side-bar-footer {
	padding: 3px 3px 3px 5px;
	min-height: 36px;
	margin: 0 -16px;
	background-color: #DBDBDB;
}
.side-bar-footer button {
	padding: 2px 5px;
}
.button-with-overlay {
	position: relative;
}
.button-with-overlay .icon-overlay {
	position: absolute;
	color: white;
	top: 9px;
	left: 9px;
	font-size: 5pt;
}
.diffs td, .diffs th {
	border: 1px solid #ccc;
	padding: .4em;
}

.diffs .index-0 {
	background-color: hsl(120, 100%, 95%);
}
.diffs .index-0.is-different {
	background-color: hsl(120, 100%, 90%);
	color: hsl(120, 100%, 25%);
}
.diffs .index-1 {
	background-color: hsl(0, 100%, 95%);
}
.diffs .index-1.is-different {
	background-color: hsl(0, 100%, 90%);
	color: hsl(0, 100%, 25%);
}
.diffs .index-2 {
	background-color: hsl(60, 100%, 95%);
}
.diffs .index-2.is-different {
	background-color: hsl(60, 100%, 90%);
	color: hsl(60, 100%, 25%);
}
.diffs .index-3 {
	background-color: hsl(120, 100%, 95%);
}
.diffs .index-3.is-different {
	background-color: hsl(120, 100%, 90%);
	color: hsl(120, 100%, 25%);
}
.diffs .index-4 {
	background-color: hsl(180, 100%, 95%);
}
.diffs .index-4.is-different {
	background-color: hsl(180, 100%, 90%);
	color: hsl(180, 100%, 25%);
}
.diffs .index-5 {
	background-color: hsl(240, 100%, 95%);
}
.diffs .index-5.is-different {
	background-color: hsl(240, 100%, 90%);
	color: hsl(240, 100%, 25%);
}
.diffs .index-6 {
	background-color: hsl(300, 100%, 90%);
}
.diffs .index-6.is-different {
	background-color: hsl(300, 100%, 80%);
	color: hsl(300, 100%, 40%);
}

.is-different {
	font-weight: bold;
}

.table-content-column {
	padding: 0;
}

.table-content-column .table-container {
	overflow: scroll;

}

.table-content-column .table-toolbar {
	background-color: #D6D6D6;
    padding: 2px 1em;
}
.diffs .tools-column, .diffs .table-headers {
	background-color: #E2E2E2;
	min-width: 25px;
    text-align: center;
}
.diffs .diff-header {
	position: relative;
}
.diffs .diff-header .sort-controls {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
.diffs .diff-header:hover .sort-controls {
	display: inline-block;
}
.diffs .diff-header .sort-controls button {
	padding: 3px 6px 0;
}
.diffs .not-filter-match {
	display: none;
}