.mouse-follow-balloon, .tool-tip-example {
	position: absolute;
	background-color: #3c3cbd;
	border: 1px solid rgba(0, 0, 0, .1);
	color: white;
	border-radius: 10px;
	padding: .25em .5em;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .25);
}
.tool-tip-example {
	position: inherit;
}

.blink-me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {  
  50% { opacity: 0; }
}

h4 {
	color: #5e5e5e;
}

table .cell-container {
	height: 6em; 
	overflow: hidden;
}

table .cell-container:hover {
	background: #E2E2E2;
	cursor: pointer;
}

table .cell-container.scrollable {
	background: #E2E2E2;
	overflow: scroll;
	cursor: text;
}

.clear-fix {
	clear: both;
}

.modal-overlay {
	position: fixed;
	background-color: rgba(0, 0, 0, .25);
	left: 0;
	right: 0;
	bottom: 0;
	top: 35px;
}
.modal-dialog {
	position: absolute;
	top: 100px;
	left: 100px;
	right: 100px;
	min-height: 100px;
	background-color: white;
	border-radius: 10px;
	padding: 1em 2em;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .33);
}
.nav-spacer {
	width: 100%;
	height: 36px;
}
.navbar {
	min-height: 20px;
	position: fixed;
	width: 100%;
    background: white;
    z-index: 10;
}
.navbar-nav > li > a {
	padding-top: 7px;
	padding-bottom: 7px;
}
.in-sync-notice {
	text-align: center;
    color: #dbdbdb;
}
.in-sync-notice img {
	border: 1px solid #dbdbdb;
	padding: .67em;
	margin-top: 10px;
	border-radius: 10px;
}
.media-option-link .glyphicon-resize-small {
	transform: rotate(45deg);
}
.panel-body .form-control {
	/*margin: .75em 0;*/
}
.server-list-group {
	margin-top: 20px;
}
.server-list-group .input-group {
	margin: .5em 0;
}
.server-list-group .input-group input {
	width: 100%;
	padding: .25em 1em;
}
.server-list-group .input-group .input-group-addon {
	min-width: 130px;
}
.server-list-group .server-name {
	cursor: pointer;
	transition: all 0.1s ease;
}
.server-list-group .server-name:hover {
    padding: 3px 7px;
    background-color: #eee;
    border: 1px solid #777;
    border-radius: 10px;
}
.server-list-group .shortcut-buttons {
	position: absolute;
	right: 50px;
	top: 2.5px;
}
.panel {
	margin-bottom: 5px;
}
.table-reference-column, .server-reference-column, .sftp-directory-column {
	background-image: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
	height: 100%;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
	padding-right: 5px;
	padding-left: 10px;
}
.navbar {
	margin-bottom: 0;
}
.server-reference-column ul {
	padding-left: 0;
	padding-bottom: 5px;
	cursor: pointer;
}

.server-reference-column li {
	padding-left: 10px;
	list-style: none;
}
.database-tables, .server-list-left {
	list-style: none;
	overflow: scroll;
	padding-left: 0;
	white-space: nowrap;
}
.database-tables li, .server-list-left li {
	cursor: pointer;
	transition: all 0.2s ease;
	margin: 2px 0;
}
.database-tables li:hover, .database-tables li.selected, .server-list-left li:hover, .server-list-left li.selected {
	padding: 3px 7px;
    background-color: #eee;
    border: 1px solid #777;
    border-radius: 10px;
}
.database-tables li.blocked {
	color: #999;
}
.table-reference-column .database-name {
	font-weight: bold;
	margin-bottom: 5px;
}

.server-folder {
	border-radius: 10px;
	transition: all 0.1s ease;
}
.server-folder.drop-target-active {
	background-color: #eee;
    border: 1px solid #777;
    padding: 3px 7px;
}

.server-link {
	position: relative;
}
.server-link.active:hover .quick-connect-button {
	display: none;
}

.server-link .quick-connect-button {
	position: absolute;
	right: 2px;
	top: 2px;
	display: none;
	padding: 0 5px;
	border-radius: 10px;
}
.server-link:hover .quick-connect-button {
	display: inline-block;
}

.server-link .status-icon {
	height: 15px;
	width: 15px;
	border: 2px solid #CCC;
	border-radius: 50%;
	margin-top: 3px;
}
.server-link.active .status-icon {
	height: 15px;
	width: 15px;
	border: 2px solid green;
    background-color: #0C0;
	border-radius: 50%;
}
.server-link.error .status-icon {
	height: 15px;
	width: 15px;
	border: 2px solid red;
	background-color: red;
	border-radius: 50%;
}
.server-avatars {
	background-color: #E2E2E2;
	padding: 2px;
}
.server-avatars .server-avatar {
	padding: 3px 7px;
	margin: 0 .2em;
    background-color: #eee;
    border: 1px solid #BBB;
    border-radius: 5px;
	display: inline-block;
}
.server-avatars .server-avatar .display-on-hover {
	display: none;
}
.server-avatars .server-avatar:hover .display-on-hover {
	display: inline-block;
	cursor: pointer;
	color: green;
}
.server-avatars .server-avatar .hide-on-hover {
	display: inline-block;
}
.server-avatars .server-avatar:hover .hide-on-hover {
	display: none;
}
.server-avatars .server-avatar .close-icon {
	display: none;
}
.server-avatars .server-avatar:hover .close-icon {
	display: inline;
	cursor: pointer;
	color: red;
}
.server-avatars .server-avatar:hover .server-status {
	display: none;
}
.server-avatars .server-status {
	height: 15px;
	width: 15px;
	border: 2px solid #CCC;
	border-radius: 50%;
	display: inline-block;
	margin-bottom: -2.5px;
}
.server-avatars .server-status.active {
	border-color: green;
	background-color: #0C0;
}
.server-avatars .server-status.error {
	border-color: red;
	background-color: #C00;
}
.server-avatars .server-status.pending {
	border-color: #d2b44f;
	background-color: yellow;
	/*
	border-color: green;
	background-color: #0C0;
	*/
	animation: blinker .2s linear infinite;
}
.active-server-notice {
	font-weight: bold;
	font-size: 12pt;
	color: black;
	padding-top: 3px;
	color: #555;
}
.active-server-notice .glyphicon {
	padding-top: 3px;
}
.dialog-buttons button {
	margin: 0 .67em;
}
.side-bar-footer {
	padding: 3px 3px 3px 5px;
	min-height: 36px;
	margin: 0 -6px 0 -10px;
	background-color: #DBDBDB;
}
.side-bar-footer button {
	padding: 2px 5px;
}
.button-with-overlay {
	position: relative;
}
.button-with-overlay .icon-overlay {
	position: absolute;
	color: white;
	top: 9px;
	left: 9px;
	font-size: 5pt;
}
.diffs td, .diffs th {
	border: 1px solid #ccc;
	padding: .4em;
}

.text-diffs {
	width: 100%;
}
.diffs .index-0, .text-diffs .index-0 {
	background-color: hsl(120, 100%, 95%);
}
.diffs tr.selected .index-0, .sftp-tree-view tr.selected .index-0 {
	background-color: hsl(120, 100%, 80%);
}
.diffs .index-0.is-different, .server-avatars .server-avatar-0, .all-sftp-directories .listing.index-0, .tabelized-files .index-0 {
	background-color: hsl(120, 100%, 90%);
	color: hsl(120, 100%, 25%);
	border-color: hsl(120, 100%, 25%);
}

.diffs .index-1, .text-diffs .index-1 {
	background-color: hsl(180, 100%, 95%);
}
.diffs tr.selected .index-1, .sftp-tree-view tr.selected .index-1 {
	background-color: hsl(180, 100%, 80%);
}
.diffs .index-1.is-different, .server-avatars .server-avatar-1, .all-sftp-directories .listing.index-1, .tabelized-files .index-1 {
	background-color: hsl(180, 100%, 90%);
	color: hsl(180, 100%, 25%);
	border-color: hsl(180, 100%, 25%);
}

.diffs .index-2, .text-diffs .index-2 {
	background-color: hsl(240, 100%, 95%);
}
.diffs tr.selected .index-2, .sftp-tree-view tr.selected .index-2 {
	background-color: hsl(240, 100%, 80%);
}
.diffs .index-2.is-different, .server-avatars .server-avatar-2, .all-sftp-directories .listing.index-2, .tabelized-files .index-2 {
	background-color: hsl(240, 100%, 90%);
	color: hsl(240, 100%, 25%);
	border-color: hsl(240, 100%, 25%);
}

.diffs .index-3, .text-diffs .index-3 {
	background-color: hsl(300, 100%, 95%);
}
.diffs tr.selected .index-3, .sftp-tree-view tr.selected .index-3 {
	background-color: hsl(300, 100%, 80%);
}
.diffs .index-3.is-different, .server-avatars .server-avatar-3, .all-sftp-directories .listing.index-3, .tabelized-files .index-3 {
	background-color: hsl(300, 100%, 90%);
	color: hsl(300, 100%, 25%);
	border-color: hsl(300, 100%, 25%);
}

.diffs .index-4, .text-diffs .index-4 {
	background-color: hsl(0, 100%, 95%);
}
.diffs tr.selected .index-4, .sftp-tree-view tr.selected .index-4 {
	background-color: hsl(0, 100%, 80%);
}
.diffs .index-4.is-different, .server-avatars .server-avatar-4, .all-sftp-directories .listing.index-4, .tabelized-files .index-4 {
	background-color: hsl(0, 100%, 90%);
	color: hsl(0, 100%, 25%);
	border-color: hsl(0, 100%, 25%);
}

.diffs .index-5, .text-diffs .index-5 {
	background-color: hsl(60, 100%, 95%);
}
.diffs tr.selected .index-5, .sftp-tree-view tr.selected .index-5 {
	background-color: hsl(60, 100%, 80%);
}
.diffs .index-5.is-different, .server-avatars .server-avatar-5, .all-sftp-directories .listing.index-5, .tabelized-files .index-5 {
	background-color: hsl(60, 100%, 90%);
	color: hsl(60, 100%, 25%);
	border-color: hsl(60, 100%, 25%);
}

.diffs .index-6, .text-diffs .index-6 {
	background-color: hsl(120, 100%, 90%);
}
.diffs tr.selected .index-6, .sftp-tree-view tr.selected .index-6 {
	background-color: hsl(120, 100%, 80%);
}
.diffs .index-6.is-different, .server-avatars .server-avatar-6, .all-sftp-directories .listing.index-6, .tabelized-files .index-6 {
	background-color: hsl(120, 100%, 80%);
	color: hsl(120, 100%, 25%);
	border-color: hsl(120, 100%, 40%);
}

.is-different {
	font-weight: bold;
}

.table-content-column, .sftp-files-column {
	padding: 0;
}

.table-content-column .table-container, .sftp-files-column .sftp-tree-view, .connections-container .table-container {
	overflow: scroll;
}

.table-content-column .table-toolbar, .sftp-files-column .sftp-toolbar {
	background-color: #D6D6D6;
    padding: 2px 1em;
    min-height: 38px;
}

.tabelized-files th {
	text-align: center;
	background: #ccc !important;
    padding: .25em .5em;
    color: #505050 !important;
    border: 1px solid #ccc !important;
}
.tabelized-files td {
	padding: .12em .75em;
	border: 1px solid #ccc;
}
.tabelized-files .checkbox-column {
	background-color: #E2E2E2;
}

.diffs .tools-column, .diffs .table-headers, .tabelized-files .sftp-row-checkbox {
	background-color: #E2E2E2;
	min-width: 25px;
    text-align: center;
}
.diffs .diff-header {
	position: relative;
}
.diffs .diff-header .sort-controls {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
.diffs .diff-header:hover .sort-controls {
	/*
	display: inline-block;
	*/
}
.diffs .diff-header .sort-controls button {
	padding: 3px 6px 0;
}
.diffs .not-filter-match {
	display: none;
}
.diffs tr.selected {
	font-weight: bold;
	font-style: italic;
}
.diffs .tools-column-1, .diffs .tools-column-2, .diffs .tools-column-3, .diffs .tools-column-4, .diffs .tools-column-5, .diffs .tools-column-6, .diffs .tools-column-7, .diffs .tools-column-8, .diffs .tools-column-9 {
	display: none;
}
.diffs tr.selected .tools-column-0 {
	background-color: #0cea08;
}
.side-bar {
	overflow: scroll;
}
.table-name-container {
	position: absolute;
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 14pt;
	top: 4pt;
	pointer-events: none;
}
.mysql-footer-toolbar, .sftp-footer-toolbar {
	position: absolute;
	width: 100%;
	height: 33px;
	bottom: 0;
	background: #DBDBDB;
}

.all-sftp-directories .listing {
	list-style: none;
	padding: 1em 2em;
	color: #777;
	cursor: pointer;
	float: left;
	border: 1px solid #CCC;
}

.all-sftp-directories .glyphicon-triangle-right {
	font-size: 8pt;
}

.all-sftp-directories .listing .listing-type-d .glyphicon-folder-close{
	margin-left: 9px;
}

.all-sftp-directories .listing li.does-not-exist-in-main-data-set, .tabelized-files td.does-not-exist-in-main-data-set {
	color: green !important;
	font-weight: bold;
}

.all-sftp-directories .listing li.outdated, .tabelized-files td.outdated {
	color: orange !important;
	font-weight: bold;
}

.all-sftp-directories .listing li.different-size, .tabelized-files td.different-size {
	color: red !important;
	font-weight: bold;
}

.path-links .current-path {
	font-weight: bold;
	color: black;
	padding: 6px;
	display: inline-block;
}

.settings-panel {
	position: absolute;
	background: #f8f8f8;
	top: 35px;
	bottom: 0;
	right: 0;
	width: 440px;
	z-index: 2;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}
.settings-panel .column-1 {
	padding-left: .5em;
}
.settings-panel .add-blocked-table-button {
	padding: 0 5px;
	margin: 0 6px;
}
.settings-panel li .remove-blocked-table-button {
	padding: 0 5px;
	visibility: hidden;
	margin-right: 5px;
}
.settings-panel li:hover {
	background: #ffecd1;
	border-radius: 5px;
}
.settings-panel li:hover .remove-blocked-table-button {
	visibility:	visible;
}

ul.sftp-filtered-directories {
	list-style: none;
	color: #5e5e5e;
	cursor: pointer;
	padding: 0 .5em;
}

.add-new-server-container {
	margin: 5em 5em;
}
.add-new-server-container .input-group, .add-new-server-container .select-group {
	margin-bottom: 10px;
}
.add-new-server-container .input-group-addon {
	min-width: 130px;
}

.select-group select {
	font-size: 12pt;

}
.select-group .select-group-label {
	display: inline-block;
	padding: 10px 12px;
	margin-right: 1em;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 130px;
}

form input.is-valid {
	background-color: #CFC;
}
form input.is-not-valid {
	background-color: #FCC;
}
.modal-overlay {
	z-index: 5;
}
.modal-dialog {
	z-index: 7;
}
.modal-dialog .dynamic-button-container {
	margin-top: 1em;
}

.settings-list ul {
	list-style: none;
	padding: 0 0 0 .75em;
}
.setting-details-container input[type='text'] {
	margin: .25em 0;
}
.block-tabels-list.well {
	padding: .25em 0;
}
.listing-item.different-size {
	cursor: pointer;
	transition: all 0.1s ease;
}
.listing-item.different-size:hover {
	border: 1px solid black;
	padding: .25em .5em;
	background: #FF9;
}
table.text-diffs td {
	width: 50%;
	overflow: scroll;
}
table.text-diffs .added {
	background: #AFA;
	color: #090;
}
table.text-diffs .removed {
	background: #FCC;
	color: #C00;
}
table.text-diffs pre {
	width: auto;
    display: block;
    padding: inherit;
    margin: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    word-break: break-all;
    word-wrap: break-word;
    background-color: inherit;
    border: inherit;
    border-radius: 0;

    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.code-diff-view {
	overflow: scroll;
}
.close-code-diff-container-button {
	margin-top: 10px;
	margin-right: 10px;
}
.sftp-footer-toolbar, .mysql-footer-toolbar {
	color: #555;
}
.sftp-footer-toolbar .status, .mysql-footer-toolbar .status {
	padding: .5em;
}
.tuts-my-goots-icon {
	background: #8de5ff;
	border: 1px solid #3992ad;
	color: white;
	padding: 0 .4em;
	border-radius: 50%;
	cursor: pointer;
	float: right;
	display: inline-block;
	font-size: 9pt;
	margin-right: 5px;
}
