<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Add New Server</h3>
	</div>
	<div class="panel-body">
		<form>
			<input type="text" class="form-control" placeholder="Name" name="name">
			<input type="text" class="form-control" placeholder="Server" name="server">
			<input type="number" class="form-control" placeholder="Port" name="port">
			<input type="text" class="form-control" placeholder="Username" name="username">
			<input type="password" class="form-control" placeholder="Password" name="password">
		</form>
	</div>
</div>